<form id="createPost">
  <input type="text" id="postTitle" placeholder="Post title" />
  <textarea
    id="postContent"
    row="5"
    cols="50"
    placeholder="Post content"
  ></textarea>
  <button type="submit">Create</button>
</form>

<script src="/js/createPost.js"></script>