<header>
  <h2>Login</h2>
</header>
<form id="login">
  <label for="username">Username</label>
  <input
    type="text"
    id="loginUsername"
    name="username"
    placeholder="Enter username"
  />
  <label for="password">Password</label>
  <input
    type="text"
    id="loginPassword"
    name="password"
    placeholder="Enter password"
  />
  <button type="submit">Login</button>
  <a href="/signup">Sign up</a>
</form>

<script src="/js/login.js"></script>